@model CourseDetailsViewModel

@{
    ViewData["Title"] = "Course Details";
}

<section class="course-details" id="course-details">

    <div class="background-image">
        <img src="@Model.Course.ImageUrl" alt="Alternate Text" />
    </div>
    
    <div class="container" id="container-1">
        <div class="header">
            <div class="links">
                <img src="/images/icons/home-link-icon.svg" alt="home icon" />
                <a asp-controller="Home" asp-action="Index">Home</a>
                <img src="/images/icons/right-link-arrows.svg" />
                <a asp-controller="Courses" asp-action="Index">Courses</a>
                <img src="/images/icons/right-link-arrows.svg" />
                <a asp-action="Details" asp-controller="Courses" asp-route-id="@Model.Course.Id">@Model.Course.Title</a>
            </div>

            <div class="digital">
                @if (Model.Course.IsBestSeller == true)
                {
                    <div class="best-seller">
                        <p>Best Seller</p>
                    </div>
                }
                <div class="is-digital">
                    <p>Digital</p>
                </div>
            </div>

            <div class="title">
                <h1>@Model.Course.Title</h1>
                <p>@Model.Course.Subtitle</p>
            </div>

            <div class="reviews">
                <div class="rating">
                    <img src="@Model.Course.Reviews?.FullStarUrl" />
                    <img src="@Model.Course.Reviews?.FullStarUrl" />
                    <img src="@Model.Course.Reviews?.FullStarUrl" />
                    <img src="@Model.Course.Reviews?.FullStarUrl" />
                    <img src="@Model.Course.Reviews?.EmptyStarUrl" />

                    <p>(@Model.Course.Reviews?.ReviewNumbers K reviews)</p>
                </div>
                <div class="likes">
                    <p><img src="/images/icons/like-icon.svg" alt="like icon" /> @Model.Course.LikesInNumbers K likes</p>
                </div>
                <div class="hours">
                    <p><img src="/images/icons/watch-icon.svg" alt="clock icon" /> @Model.Course.Hours hours</p>
                </div>
            </div>

            <div class="author">
                <img src="@Model.Course.Author?.ImageUrl" alt="@Model.Course.Author?.Name" />
                <div class="author-info">
                    <span>Created by</span>
                    <p>@Model.Course.Author?.Name</p>
                </div>
            </div>

        </div>
    </div>

    <div class="container" id="container-2">
        <div class="description-and-card">
            <div class="description">
                <div class="course-description">
                    <h2>Course Description</h2>
                    <p>@Model.Course.Description</p>
                </div>
                <div class="point-list">
                    <h2>What you'll learn</h2>
                    <ul>
                        @if (Model.Course.PointList != null)
                        {
                            @foreach (var property in Model.Course.PointList!.GetType().GetProperties())
                            {
                                var point = property.GetValue(Model.Course.PointList, null);
                                if (point != null)
                                {
                                    <li> <img class="checkbox-icon" src="/images/icons/bx-check-circle.svg" />@point</li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="info-card">
                <h3>This course includes</h3>
                <p><img src="/images/icons/screen-icon.svg" /> @Model.Course.Hours on-demand video h</p>
                <p><img src="/images/icons/article-icon.svg" /> @Model.Course.ArticleNumber articles</p>
                <p><img src="/images/icons/download-icon.svg" /> @Model.Course.DownloadResource downloadable resources</p>
                <p><img src="/images/icons/infinite-icon.svg" /> Full lifetime access</p>
                <p><img src="/images/icons/trophy-icon.svg" /> Certificate on completion</p>
                <div class="price">
                    @if (Model.Course.DiscountPrice == null)
                    {
                        <p>$ @Model.Course.Price</p>
                    }
                    else
                    {
                        <p class="discount">$ @Model.Course.DiscountPrice</p>
                        <p class="original">$ @Model.Course.Price</p>
                    }
                </div>
                @if(Model.HasUserJoined == true) 
                {
                    <a asp-controller="Courses" asp-action="LeaveCourse" asp-route-courseId="@Model.Course.Id" class="btn-youtube">Leave Course</a>
                }
                else
                {
                    <a asp-controller="Courses" asp-action="JoinCourse" asp-route-courseId="@Model.Course.Id" class="btn-theme-s">Join Course</a>
                }
            </div>
        </div>
        <div class="program-details">
            <h2>Program Details</h2>
            <ul>
                @if (Model.Course.DetailsList != null)
                {
                    int totalProperties = Model.Course.DetailsList!.GetType().GetProperties().Length / 2;
                    @for (int i = 1; i <= totalProperties; i++)
                    {
                        var detailProperty = Model.Course.DetailsList.GetType().GetProperty($"Detail_{i}");
                        var titleProperty = Model.Course.DetailsList.GetType().GetProperty($"Title_{i}");

                        var detail = detailProperty?.GetValue(Model.Course.DetailsList, null);
                        var title = titleProperty?.GetValue(Model.Course.DetailsList, null);
                        if (detail != null)
                        {
                            <li>
                                <div class="detail">
                                    <div class="detail-info">
                                        <div class="ring">
                                            <div class="count">@(i)</div>
                                        </div>
                                        <div class="details-text">
                                            <h3>@title</h3>
                                            <p>@detail</p>
                                        </div>
                                    </div>
                                    @if (i != totalProperties)
                                    {
                                        <div class="vertical-line"></div>
                                    }
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="author-details">
            <div class="author-image">
                <img id="author-big-image" src="@Model.Course.Author?.ImageUrl" alt="@Model.Course.Author?.Name" />
            </div>
            <div class="author-info-big">
                <img id="pattern" src="/images/pattern.svg" />
                <span>Learn from the best</span>
                <h2>@Model.Course.Author?.Name</h2>
                <p>@Model.Course.Author?.Description</p>
                <div class="follow-buttons">
                    <a class="btn-youtube" href="@Model.Course.Author?.YoutubeUrl" target="_blank"><img src="/images/icons/youtube-icon.svg" alt="youtube icon" />Subscribe</a>
                    <a class="btn-facebook" href="@Model.Course.Author?.FacebookUrl" target="_blank"><img src="/images/icons/facebook-icon.svg" alt="facebook icon" />Follow this author</a>
                </div>
            </div>
        </div>
    </div>
</section>