@model CourseModel

@{
    ViewData["Title"] = "Course Details";
}

<section class="course-details" id="course-details">

    <div class="background-image">
        <img src="@Model.ImageUrl" alt="Alternate Text" />
    </div>
    
    <div class="container" id="container-1">
        <div class="header">
            <div class="links">
                <img src="/images/icons/home-link-icon.svg" alt="home icon" />
                <a asp-controller="Home" asp-action="Index">Home</a>
                <img src="/images/icons/right-link-arrows.svg" />
                <a asp-controller="Courses" asp-action="Index">Courses</a>
                <img src="/images/icons/right-link-arrows.svg" />
                <a asp-action="Details" asp-controller="Courses" asp-route-id="@Model.Id">@Model.Title</a>
            </div>

            <div class="digital">
                @if (Model.IsBestSeller == true)
                {
                    <div class="best-seller">
                        <p>Best Seller</p>
                    </div>
                }
                <div class="is-digital">
                    <p>Digital</p>
                </div>
            </div>

            <div class="title">
                <h1>@Model.Title</h1>
                <p>@Model.Subtitle</p>
            </div>

            <div class="reviews">
                <div class="rating">
                    <img src="@Model.Reviews!.FullStarUrl" />
                    <img src="@Model.Reviews!.FullStarUrl" />
                    <img src="@Model.Reviews!.FullStarUrl" />
                    <img src="@Model.Reviews!.FullStarUrl" />
                    <img src="@Model.Reviews!.EmptyStarUrl" />

                    <p>(@Model.Reviews!.ReviewNumbers K reviews)</p>
                </div>
                <div class="likes">
                    <p><img src="/images/icons/like-icon.svg" alt="like icon" /> @Model.LikesInNumbers K likes</p>
                </div>
                <div class="hours">
                    <p><img src="/images/icons/watch-icon.svg" alt="clock icon" /> @Model.Hours hours</p>
                </div>
            </div>

            <div class="author">
                <img src="@Model.Author!.ImageUrl" alt="@Model.Author!.Name" />
                <div class="author-info">
                    <span>Created by</span>
                    <p>@Model.Author!.Name</p>
                </div>
            </div>

        </div>
    </div>

    <div class="container" id="container-2">
        <div class="description-and-card">
            <div class="description">
                <div class="course-description">
                    <h2>Course Description</h2>
                    <p>@Model.Description</p>
                </div>
                <div class="point-list">
                    <h2>What you'll learn</h2>
                    <ul>
                        @foreach (var property in Model.PointList!.GetType().GetProperties())
                        {
                            var point = property.GetValue(Model.PointList, null);
                            if (point != null)
                            {
                                <li> <img class="checkbox-icon" src="/images/icons/bx-check-circle.svg" />@point</li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="info-card">
                <h3>This course includes</h3>
                <p><img src="/images/icons/screen-icon.svg" /> @Model.Hours on-demand video</p>
                <p><img src="/images/icons/article-icon.svg" /> @Model.ArticleNumber articles</p>
                <p><img src="/images/icons/download-icon.svg" /> @Model.DownloadResource downloadable resources</p>
                <p><img src="/images/icons/infinite-icon.svg" /> Full lifetime access</p>
                <p><img src="/images/icons/trophy-icon.svg" /> Certificate on completion</p>
                <div class="price">
                    @if (Model.DiscountPrice == null)
                    {
                        <p>$ @Model.Price</p>
                    }
                    else
                    {
                        <p class="discount">$ @Model.DiscountPrice</p>
                        <p class="original">$ @Model.Price</p>
                    }
                </div>
                <a asp-controller="Courses" asp-action="Join" class="btn-theme-s">Join Course</a>
            </div>
        </div>
        <div class="program-details">
            <h2>Program Details</h2>
            <ul>
                @for (int i = 0; i < Model.DetailsList!.GetType().GetProperties().Length; i++)
                {
                    var property = Model.DetailsList.GetType().GetProperties()[i];
                    var detail = property.GetValue(Model.DetailsList, null);
                    if (detail != null)
                    {
                        <li>
                            <div class="detail">
                                <div class="detail-info">
                                    <div class="ring">
                                        <div class="count">@(i + 1)</div>
                                    </div>
                                    @detail
                                </div>
                                @if (i != Model.DetailsList!.GetType().GetProperties().Length - 1) // Don't add a line after the last ring
                                {
                                    <div class="vertical-line"></div>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="author-details">
            <div class="author-image">
                <img id="author-big-image" src="@Model.Author!.ImageUrl" alt="@Model.Author!.Name" />
            </div>
            <div class="author-info-big">
                <img id="pattern" src="/images/pattern.svg" />
                <span>Learn from the best</span>
                <h2>@Model.Author!.Name</h2>
                <p>@Model.Author!.Description</p>
                <div class="follow-buttons">
                    <a class="btn-youtube" href="@Model.Author!.YoutubeUrl" target="_blank"><img src="/images/icons/youtube-icon.svg" alt="youtube icon" />Subscribe</a>
                    <a class="btn-facebook" href="@Model.Author!.FacebookUrl" target="_blank"><img src="/images/icons/facebook-icon.svg" alt="facebook icon" />Follow this author</a>
                </div>
            </div>
        </div>
    </div>
</section>