@model CourseIndexViewModel

@{
    ViewData["Title"] = "Courses";
}

<section class="courses" id="courses">
    <div class="container">

        <div class="links">
            <img src="/images/icons/home-link-icon.svg" alt="home icon" />
            <a asp-controller="Home" asp-action="Index">Home</a>
            <img src="/images/icons/right-link-arrows.svg" />
            <a asp-controller="Courses" asp-action="Index">Courses</a>
        </div>
        <div class="header">
            <div class="title">Courses</div>
            <form class="searchbar">
                <select id="select">
                    <option value="all">All Categories</option>
                    @if (Model.Categories != null)
                    {
                        foreach (var category in Model.Categories)
                        {
                            <option value="@category.CategoryName">@category.CategoryName</option>
                        }
                    }
                </select>
                <input id="search-query" type="text" placeholder="Search courses"/>
            </form>
        </div>

        @if (Model.Courses != null)
        {
            <div class="course-group">
                @foreach (var course in Model.Courses)
                {
                    <div onclick="location.href='@Url.Action("Details", "Courses", new {id = course.Id })'" class="course-box">
                        <div class="image">
                            <img class="course-image" src="@course.ImageUrl" alt="@course.Title" />
                            @if (course.IsBestSeller == true)
                            {
                                <div class="best-seller">
                                    <p>Best Seller</p>
                                </div>
                            }
                            <a asp-controller="Courses" asp-action="Join" class="bookmark">
                                <img class="bookmark-image" src="/images/icons/bookmark.svg" alt="bookmark icon" />
                            </a>
                        </div>
                        <div class="course-info">
                            <h1>@course.Title</h1>
                            <p>By @(course.Author != null ? course.Author.Name : "Null Nullson")</p>
                            <div class="price">
                                @if (string.IsNullOrEmpty(course.DiscountPrice))
                                {
                                    <p>$ @course.Price</p>
                                }
                                else
                                {
                                    <p class="discount">$ @course.DiscountPrice</p>
                                    <p class="original">$ @course.Price</p>
                                }
                            </div>
                        </div>
                        <hr class="middle-line" />
                        <div class="time-and-likes">
                            <div class="hours">
                                <p><img src="/images/icons/watch-icon.svg" alt="clock icon" />@course.Hours hours</p>
                            </div>
                            <div class="likes">
                                <p><img src="/images/icons/like-icon.svg" alt="thumbs up icon" />@course.LikesInPercent % (@course.LikesInNumbers K)</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="pagination">
            <div></div>
        </div>

        <div class="banner">
            <div class="banner-image">
                <img src="/images/courses-banner.svg" />
            </div>
            <div class="banner-info">
                <p>Ready to get started?</p>
                <h2>Take your <span>Skills</span> to the next level</h2>
            </div>
            <a asp-action="Jobs" asp-controller="Work" class="btn-theme-s">Work with us</a>
        </div>

    </div>
</section>