@model CourseIndexViewModel

@{
    ViewData["Title"] = "Courses";
}

<section class="courses" id="courses">
    <div class="container">

        <div class="links">
            <img src="/images/icons/home-link-icon.svg" alt="home icon" />
            <a asp-controller="Home" asp-action="Index">Home</a>
            <img src="/images/icons/right-link-arrows.svg" />
            <a asp-controller="Courses" asp-action="Index">Courses</a>
        </div>
        <div class="header">
            <div class="title">Courses</div>
            <div class="searchbar">
                <select>
                    <option value="">All Categories</option>
                </select>
                <input type="text" placeholder="Search courses"/>
            </div>
        </div>

        <div class="course-group">
            @foreach (var course in Model.Courses)
            {
                <a asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id" class="course-box">
                    <div class="image">
                        <img class="course-image" src="@course.ImageUrl" alt="@course.Title" />
                        @if (course.IsBestSeller == true)
                        {
                            <div class="best-seller">
                                <p>Best Seller</p>
                            </div>
                        }
                        <button class="bookmark">
                            <img class="bookmark-image" src="/images/icons/bookmark.svg" alt="bookmark icon" />
                        </button>
                    </div>
                    <div class="course-info">
                        <h1>@course.Title</h1>
                        <p>By @course.Author!.Name</p>
                        <div class="price">
                            @if (course.DiscountPrice == null)
                            {
                                <p>$ @course.Price</p>
                            }
                            else {
                                <p class="discount">$ @course.DiscountPrice</p>
                                <p class="original">$ @course.Price</p>
                            }
                        </div>
                    </div>
                    <hr class="middle-line" />
                    <div class="time-and-likes">
                        <div class="hours">
                            <p><img src="/images/icons/watch-icon.svg" alt="clock icon" />@course.Hours hours</p>
                        </div>
                        <div class="likes">
                            <p><img src="/images/icons/like-icon.svg" alt="thumbs up icon" />@course.LikesInPercent % (@course.LikesInNumbers K)</p>
                        </div>
                    </div>
                </a>
            }
        </div>

        <div class="pagination">
            <div></div>
        </div>

        <div class="banner">
            <div class="banner-image">
                <img src="/images/courses-banner.svg" />
            </div>
            <div class="banner-info">
                <p>Ready to get started?</p>
                <h2>Take your <span>Skills</span> to the next level</h2>
            </div>
            <a asp-action="Jobs" asp-controller="Work" class="btn-theme-s">Work with us</a>
        </div>

    </div>
</section>